.task {
  flex-grow: 1;
  background-color: #fff;
  padding: 60px 55px;
}

.task__title-container {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #a8edea;
  margin-bottom: 20px;
}

.task__title {
  margin: 0 15px 0 0;
  padding: 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 39px;
}

.task__list {
  list-style-type: none;
  margin: 0 0 15px 0;
  padding: 0;
}

@media (max-width: 980px) {
  .task {
    padding: 30px 25px;
  }

  .task__title-container {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .task__title {
    font-size: 29px;
    line-height: 30px;
  }
}

@media (max-width: 500px) {
  .task {
    padding: 15px 10px;
  }
}