.button {
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  background: inherit;
  box-sizing: border-box;
  padding: 10px 5px;
  cursor: pointer;
  opacity: .8;
}

.button:hover {
  opacity: 1;
}

.button__icon {
  display: block;
  width: 20px;
  box-sizing: border-box;
  padding: 3px;
  margin-right: 10px;
}

.button__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #000000;
  margin: 0;
  padding: 0;
}

@media (max-width: 980px) {
  .button__text {
    font-size: 20px;
    line-height: 20px;
  }
}