.side-bar {
  flex-basis: 250px;
  box-sizing: border-box;
  padding: 60px 20px;
  border-right: 2px solid #fed6e3;
  background-color: #fff;
}

.side-bar__button {
  width: 100%;
  opacity: .7;
  transition: opacity .3s;
}

.side-bar__button:hover {
  opacity: 1;
}

.side-bar__list {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 28px 0;
}